/* 
-----------------------------------
PopMenu Magic Style Sheet
by Project Seven Development
www.projectseven.com
Menu Type:Vertical
Style Theme:0 -Basic Style
-----------------------------------
*/
#p7PMnav{margin:0;padding:0;border-top:1px solid #fff;font-size:90%}#p7PMnav li{list-style-type:none;margin:0;padding:0}#p7PMnav ul{margin:0;padding:0;border-top:1px solid #fff;z-index:10000}#p7PMnav a{border-right:solid #fff 1px;border-bottom:solid #fff 1px;border-left:solid #fff 1px;padding:4px 5px 4px 5px;display:block;text-decoration:none;background-color:#900;color:#fff;line-height:1}#p7PMnav a:hover,#p7PMnav a:active,#p7PMnav a:focus{background-color:#666;color:#fff;letter-spacing:0.01px}/* ------ the trigger link styles ------- */
/*the normal trigger link */
#p7PMnav .p7PMtrg,#p7PMnav .p7PMon{background-image:url(../im/p7PM_light_east.gif);background-repeat:no-repeat;background-position:right center}/* the active trigger link style */
#p7PMnav .p7PMon{background-color:#ccc;color:#900}/*the submenu classes */
#p7PMnav .p7PMhide{left:-9000px;border:0}#p7PMnav .p7PMshow{left:auto;z-index:20000 !important}/* Top level menu width */
#p7PMnav{width:130px}/* 2nd and subsequent Submenu widths */
#p7PMnav ul{width:130px}.nolink{background-color:#ccc !important;color:#900 !important}#space{height:1px;background-image:url(../im/divider.gif)}